

    <section class="account-footer">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="RegisterNewBusiness" class="footer-tag">
                <b>Register Business:</b><br>
                Join aNerMe to start driving local traffic to your business.
            </a>
            <a asp-area="" asp-controller="Home" asp-action="BusinessLogin" class="footer-tag">
                <b>Business Login:</b><br>
                Login to your business account to manage your product on aNerMe.
            </a>
            <a asp-area="" asp-controller="Home" asp-action="ContactUs" class="footer-tag">
                <b>Contact Us:</b><br>
                Contact the team at aNerMe with any question.
            </a>
        </div>
    </section>