<div class="overlay"></div>
<div class="image-popup-single-select">
    <div class="image-popup-header">
        <h2>Image Manager</h2>
        <div class="buttons">
            <button id="upload-images" class="selected">Upload Image</button>
            <button id="my-images-btn">My Images</button>
        </div>
    </div>
    <div class="image-popup-body">
        <div id="drop-zone" class="drop-zone">
            <span class="drop-zone-prompt">Drop image here or click to upload</span>
            <input type="file" name="myFile" class="drop-zone-input" id="" multiple>
        </div>
        <div id="my-images-div" class="my-images-div">
            <div class="instructions">
                <p>Select the image you would like then click</p>
                <button class="btn btn-primary" id="upload-image-btn">Upload Image</button>
            </div>
            <div class="my-images-gird" id="modal-images-grid"></div>
        </div>
    </div>
</div>