    <section class="account-footer">
        <div class="container">
            <a asp-area="" asp-controller="Business" asp-action="BusinessDashboard" class="footer-tag">
                <b>Dashboard:</b><br>
                View your dashboard to see high level website activity.
            </a>
            <a asp-area="" asp-controller="Business" asp-action="AccountWebsite" class="footer-tag">
                <b>Account Website:</b><br>
                Manage your web account on aNerMe.
            </a>
            <a asp-area="" asp-controller="Business" asp-action="Orders" class="footer-tag">
                <b>Orders:</b><br>
                View and fill your customer's orders.
            </a>
            <a asp-area="" asp-controller="Business" asp-action="Comments" class="footer-tag">
                <b>Comments:</b><br>
                View and reply to your customers comments on your business.
            </a>
            <a asp-area="" asp-controller="Business" asp-action="Reviews" class="footer-tag">
                <b>Reviews:</b><br>
                Recommendations for your business.
            </a>
            <a asp-area="" asp-controller="Business" asp-action="Users" class="footer-tag">
                <b>Users:</b><br>
                Manage users for your business account
            </a>
            <a asp-area="" asp-controller="Business" asp-action="MyProfile" class="footer-tag">
                <b>My Profile:</b><br>
                Manage your profile under this business account
            </a>            
            <a asp-area="" asp-controller="Business" asp-action="Addresses" class="footer-tag">
                <b>Addresses:</b><br>
                View and manage the addresses of your business locations
            </a>
            <a asp-area="" asp-controller="Business" asp-action="Products" class="footer-tag">
                <b>Products:</b><br>
                View and manage products and inventory on aNerMe
            </a>
        </div>
    </section>