

<div class="banner company-banner-1">
    <div class="image-box">
        <img src="http://kwiksurvey.co.za/wp-content/uploads/2015/03/Your-logo-here.png" alt="Your Logo">
    </div>
    <ul class="company-ul" id="company-ul">
        <li><div class="menu-content-div"><a >Example 1</a></div></li>
        <li><div class="menu-content-div"><a >Example 2</a></div></li>
        <li><div class="menu-content-div"><a >Example 3</a></div></li>
        <li><div class="menu-content-div"><a >Example 4</a></div></li>
        <li><div class="menu-content-div"><a >Example 5</a></div></li>
    </ul>
    <div>
        <div class="search">
            <button><i class="fa fa-search"></i></button>
            <input type="text">
        </div>
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
    </div>
</div>