@{
    ViewData["Title"] = "aNerMe|Orders";
}
<partial name="_BusinessHeaderNavPartial" />

<div class="business-body">
    <div class="business-side-menu">
        <partial name="_BusinessSideMenuNavPartial" />
    </div>
    <div class="orders-main-body">
        <div class="container">
            <h1>Orders</h1>
            <div class="orders">
                
            </div>
        </div>
    </div>
</div>