@{
    ViewData["Title"] = "aNerMe|Products Page Manager";
}
@model Administrator
<partial name="_BusinessHeaderNavPartial" />

<div class="business-body">
    <div class="business-side-menu">
        <partial name="_BusinessSideMenuNavPartial" />
    </div>
        <div class="add-products-main-body product-page-manager">
            <div class="container">
                <h1>Product Page Manager: @Model.company.MenuItem.Title</h1>
                <p>Tell was what categories of products you want listed on this page, then any products you add that have the same category or categories will appear when customers click on this page.</p>
                <div class="categories-div">
                    <input type="text" class="input" id="add-category-input">
                    <button class="btn btn-primary" id="add-category-btn" type="button">Add Category</button>
                    <div class="typed-categories" id="typed-categories"></div>
                </div>
                <form  asp-area="" asp-controller="Business" asp-action="SubmitPageCategories" method="POST">
                    <input type="hidden" id="categories-string" asp-for="@Model.company.MenuItem.CategoriesString" value="">
                    <input type="hidden" asp-for="@Model.company.MenuItem.MenuItemID">
                    <input type="submit" class="btn btn-primary" value="Submit Changes">
                </form>

            </div>
        </div>
    </div>
    <partial name="_BusinessPictureModal" />
</div>
<script src="~/js/categoriesManager.js" asp-append-version="true"></script>
<script>
    var pageCategories = @Html.Raw(Json.Serialize(Model.company.MenuItem.PageCategories));
    console.log(pageCategories);
    for(let i = 0; i < pageCategories.length; i++){
        const newCategory = createCategoryDiv(pageCategories[i].category.categoryName);
        categoriesDiv.appendChild(newCategory);
    }
    addCategoryValues();
</script>