@{
    ViewData["Title"] = "aNerMe|Reviews";
}
<partial name="_BusinessHeaderNavPartial" />

<div class="business-body">
    <div class="business-side-menu">
        <partial name="_BusinessSideMenuNavPartial" />
    </div>
    <div class="reviews-main-body">
        <div class="container">
            <h1>Reviews</h1>
            <div class="reviews">
                <div class="review">
                    <h3>Ron Swanson</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita eius quisquam dignissimos unde animi a, voluptas vitae repellat maxime facilis. Esse praesentium beatae aliquid corrupti tenetur, laudantium sunt eveniet sequi.</p>
                    <div class="responses">
                        <div class="response">
                            <h5>John Smith</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt dolore ut enim ducimus, perferendis veniam alias esse, voluptatum commodi in sint impedit atque sit omnis adipisci quae voluptas mollitia itaque.</p>    
                        </div>
                    </div>
                    <span class="respond">Respond</span>
                    <div class="new-response-div">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <button class="btn btn-primary respond-btn">Submit Response</button>
                    </div>
                </div>
                <div class="review">
                    <h3>Ron Swanson</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita eius quisquam dignissimos unde animi a, voluptas vitae repellat maxime facilis. Esse praesentium beatae aliquid corrupti tenetur, laudantium sunt eveniet sequi.</p>
                    <div class="responses">
                        <div class="response">
                            <h5>John Smith</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt dolore ut enim ducimus, perferendis veniam alias esse, voluptatum commodi in sint impedit atque sit omnis adipisci quae voluptas mollitia itaque.</p>    
                        </div>
                    </div>
                    <span class="respond">Respond</span>
                    <div class="new-response-div">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <button class="btn btn-primary respond-btn">Submit Response</button>
                    </div>
                </div>
                <div class="review">
                    <h3>Ron Swanson</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita eius quisquam dignissimos unde animi a, voluptas vitae repellat maxime facilis. Esse praesentium beatae aliquid corrupti tenetur, laudantium sunt eveniet sequi.</p>
                    <div class="responses">
                        <div class="response">
                            <h5>John Smith</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt dolore ut enim ducimus, perferendis veniam alias esse, voluptatum commodi in sint impedit atque sit omnis adipisci quae voluptas mollitia itaque.</p>    
                        </div>
                    </div>
                    <span class="respond">Respond</span>
                    <div class="new-response-div">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <button class="btn btn-primary respond-btn">Submit Response</button>
                    </div>
                </div>
                <div class="review">
                    <h3>Ron Swanson</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita eius quisquam dignissimos unde animi a, voluptas vitae repellat maxime facilis. Esse praesentium beatae aliquid corrupti tenetur, laudantium sunt eveniet sequi.</p>
                    <div class="responses">
                        <div class="response">
                            <h5>John Smith</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt dolore ut enim ducimus, perferendis veniam alias esse, voluptatum commodi in sint impedit atque sit omnis adipisci quae voluptas mollitia itaque.</p>    
                        </div>
                    </div>
                    <span class="respond">Respond</span>
                    <div class="new-response-div">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <button class="btn btn-primary respond-btn">Submit Response</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/businessReview.js" asp-append-version="true"></script>