// variables
$website-width: 1280px;
$main-color: steelblue;
$main-light-color: lightblue;
$secondary-color: rgb(194, 111, 90);
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$light-dark-color: #777;
$dark-light-color: #ddd;
$small-font-size: 10px;