<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../wwwroot/css/site.css">
    <title>aNerMe - Home</title>
</head>
<body>
    <!-- Header Content -->
    <header class="business-header">
        <a href="">
            <div class="logo">
                <div class="logo-letter logo-letter-a">a</div>
                <div class="logo-letter logo-letter-n">N</div>
                <div class="logo-letter logo-letter-e logo-letter-ne">e</div>
                <div class="logo-letter logo-letter-r">r</div>
                <div class="logo-letter logo-letter-m">M</div>
                <div class="logo-letter logo-letter-e">e</div>
            </div>
        </a>        

        <ul>
            <li><a>Troy Jenkins</a></li>
            <li><a>Logout</a></li>
            <li><a><i class="fa fa-cogs" aria-hidden="true"></i></a></li>
        </ul>
    </header>

    <div class="business-body">
        <div class="business-side-menu">
            <ul>
                <li><a href=""><i class="fa fa-desktop" aria-hidden="true"></i> Dashboard</a></li>
                <li><a href=""><i class="fa fa-object-group" aria-hidden="true"></i> Account Website</a></li>
                <li><a href=""><i class="fa fa-shopping-basket" aria-hidden="true"></i> Orders</a></li>
                <li><a href=""><i class="fa fa-comments" aria-hidden="true"></i> Comments</a></li>
                <li><a href=""><i class="fa fa-comment-dots" aria-hidden="true"></i> Recommendations</a></li>
                <li><a href=""><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
                <li><a href=""><i class="fa fa-user" aria-hidden="true"></i> My Profile</a></li>
                <li><a href=""><i class="fa fa-envelope-open" aria-hidden="true"></i> Addresses</a></li>
                <li><a href=""><i class="fa fa-object-ungroup" aria-hidden="true"></i> Products</a></li>
            </ul>

        </div>
    
        <div class="business-main-body">
            <section class="business-section-a">
                <h1 class="business-section-header">Dashboard</h1>        
            </section>
        
            <section class="business-section business-section-b">
                <div class="section-header">
                    <h1><i class="fa fa-comments" aria-hidden="true"></i> Customer Comments</h1>
                    <div class="bar"></div>
                </div>
                <div class="section-body">
                    <div class="comment-card">
                        <div class="comment-card-header">
                            <h2>Jim Jordan</h2>
                            <p>10/10/2021</p>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet error voluptas qui maiores, id eligendi molestias corrupti doloremque accusantium enim. Omnis.</p>
                    </div>
                    <div class="comment-card">
                        <div class="comment-card-header">
                            <h2>Jim Jordan</h2>
                            <p>10/10/2021</p>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet error voluptas qui maiores, id eligendi molestias corrupti doloremque accusantium enim. Omnis.</p>
                    </div>
                    <div class="comment-card">
                        <div class="comment-card-header">
                            <h2>Jim Jordan</h2>
                            <p>10/10/2021</p>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet error voluptas qui maiores, id eligendi molestias corrupti doloremque accusantium enim. Omnis.</p>
                    </div>
                    <div class="comment-card">
                        <div class="comment-card-header">
                            <h2>Jim Jordan</h2>
                            <p>10/10/2021</p>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet error voluptas qui maiores, id eligendi molestias corrupti doloremque accusantium enim. Omnis.</p>
                    </div>
                </div>
            </section>
        
            <section class="business-section business-section-c">
                <div class="section-header">
                    <h1><i class="fa fa-chart-bar" aria-hidden="true"></i> Common Statistics</h1>
                    <div class="bar"></div>
                </div>
                <div class="section-body">
                    <a class="stats-card">
                        <div class="card-content">
                            <div class="card-data">
                                <h2>5</h2>
                                <p>New Orders</p>
                            </div>
                            <i class="fa fa-shopping-basket fa-6x" aria-hidden="true"></i>
                        </div>
                        <p class="card-thumbnail">More Info <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                    </a>
                    <a class="stats-card">
                        <div class="card-content">
                            <div class="card-data">
                                <h2>5</h2>
                                <p>Orders</p>
                            </div>
                            <i class="fa fa-shopping-basket fa-6x" aria-hidden="true"></i>
                        </div>
                        <p class="card-thumbnail">More Info <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                    </a>
                    <a class="stats-card">
                        <div class="card-content">
                            <div class="card-data">
                                <h2>5</h2>
                                <p>Orders</p>
                            </div>
                            <i class="fa fa-user-friends fa-6x" aria-hidden="true"></i>
                        </div>
                        <p class="card-thumbnail">More Info <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                    </a>
                    <a class="stats-card">
                        <div class="card-content">
                            <div class="card-data">
                                <h2>1</h2>
                                <p>Low Inventory</p>
                            </div>
                            <i class="fa fa-chart-pie fa-6x" aria-hidden="true"></i>
                        </div>
                        <p class="card-thumbnail">More Info <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                    </a>
                </div>
            </section>
        
            <section class="business-section business-section-d">
                <div class="section-header">
                    <h1><i class="fa fa-chart-line" aria-hidden="true"></i> Web Stats</h1>
                    <div class="bar"></div>
                </div>
                <div class="section-body">
                    <div class="graph-card">
                        <h1>Check out these awesome graphs!</h1>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer id="main-footer">
        <div class="footer-content container">
            <div class="right-reserved">
                <a href="http://luminoussoft.com/" target="_blank">
                    <div class="logo-footer" id="logo-footer">
                        <div class="logo-l logo-footer-letter">L</div>
                        <div class="logo-u logo-footer-letter">u</div>
                        <div class="logo-m logo-footer-letter">m</div>
                        <div class="logo-i logo-footer-letter">i</div>
                        <div class="logo-n logo-footer-letter">n</div>
                        <div class="logo-o logo-footer-letter">o</div>
                        <div class="logo-u logo-footer-letter">u</div>
                        <div class="logo-s logo-footer-letter">s</div>
                        <div class="logo-footer-letter logo-bolt"><i class="fas fa-bolt"></i></div>
                        <div class="logo-S logo-footer-letter">S</div>
                        <div class="logo-oo logo-footer-letter">o</div>
                        <div class="logo-f logo-footer-letter">f</div>
                        <div class="logo-t logo-footer-letter">t</div>
                    </div>
                </a>
                <p>, Inc. &copy; 2021. All right Reserved</p>
            </div>
            <div class="social">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </footer>
</body>
</html>