<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../wwwroot/css/site.css">
    <title>aNerMe - Home</title>
</head>
<body>
    <!-- Header Content -->
    <header>
        <div class="container">
            <div class="header-content">
                <a href="">
                    <div class="logo">
                        <div class="logo-letter logo-letter-a">a</div>
                        <div class="logo-letter logo-letter-n">N</div>
                        <div class="logo-letter logo-letter-e logo-letter-ne">e</div>
                        <div class="logo-letter logo-letter-r">r</div>
                        <div class="logo-letter logo-letter-m">M</div>
                        <div class="logo-letter logo-letter-e">e</div>
                    </div>
                </a>
                <div class="location">
                    Set Location
                </div>
                <div class="search-div">
                    <input type="text" class="search-input" id="search-input" name="search" placeholder="Search">
                    <button class="search-submit" id="search-submit" ><i class="fa fa-search"></i></button>
                </div>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
                    <li><i class="fa fa-shopping-cart"></i> Cart</li>
                </ul>
            </div>
        </div>
    </header>
    <div class="filler"></div>

    <section class="user-dashboard-a">
        <div class="container">
            <h1>My Account</h1>
            <p>Welcome back, Troy Jenkins! <a href="">Log out</a></p>
            <div class="account-options">
                <a href="">
                    <div class="option-box">
                        <i class="fa fa-shopping-cart fa-6x" aria-hidden="false"></i>
                        <h5>My Orders <i class="fas fa-chevron-right"></i></h5>
                        <p>Check the status of your orders</p>
                    </div>
                </a>
                <a href="">
                    <div class="option-box">
                        <i class="fa fa-heart fa-6x" aria-hidden="true"></i>
                        <h5>My Wishlist <i class="fas fa-chevron-right"></i></h5>
                        <p>View or update your wishlisted items.</p>
                    </div>
                </a>
                <a href="">
                    <div class="option-box">
                        <i class="fa fa-cogs fa-6x" aria-hidden="true"></i>
                        <h5>Settings <i class="fas fa-chevron-right"></i></h5>
                        <p>View or update your personal information, passwords, address, etc.</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="account-footer">
        <div class="container">
            <a href="" class="footer-tag">
                <b>Register Business:</b><br>
                Join aNerMe to start driving local traffic to your business.
            </a>
            <a href="" class="footer-tag">
                <b>Contact Us:</b><br>
                Contact the team at aNerMe with any question.
            </a>
        </div>
    </section>

    <footer id="main-footer">
        <div class="footer-content container">
            <div class="right-reserved">
                <a href="http://luminoussoft.com/" target="_blank">
                    <div class="logo-footer" id="logo-footer">
                        <div class="logo-l logo-footer-letter">L</div>
                        <div class="logo-u logo-footer-letter">u</div>
                        <div class="logo-m logo-footer-letter">m</div>
                        <div class="logo-i logo-footer-letter">i</div>
                        <div class="logo-n logo-footer-letter">n</div>
                        <div class="logo-o logo-footer-letter">o</div>
                        <div class="logo-u logo-footer-letter">u</div>
                        <div class="logo-s logo-footer-letter">s</div>
                        <div class="logo-footer-letter logo-bolt"><i class="fas fa-bolt"></i></div>
                        <div class="logo-S logo-footer-letter">S</div>
                        <div class="logo-oo logo-footer-letter">o</div>
                        <div class="logo-f logo-footer-letter">f</div>
                        <div class="logo-t logo-footer-letter">t</div>
                    </div>
                </a>
                <p>, Inc. &copy; 2021. All right Reserved</p>
            </div>
            <div class="social">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </footer>
</body>
</html>